include *.md
include *.txt
include *.yml
include *.yaml
include *.rst
include *.ini
include *.csv
include *.npz
include carculator_utils/data/*.csv
include carculator_utils/data/*.json
include carculator_utils/data/*.yaml
include carculator_utils/data/driving_cycles/*.csv
include carculator_utils/data/driving_cycles/*.yaml
include carculator_utils/data/efficiency/*.yaml
include carculator_utils/data/electricity/*.csv
include carculator_utils/data/electricity/*.yaml
include carculator_utils/data/emission_factors/*.yaml
include carculator_utils/data/emission_factors/bus/*.csv
include carculator_utils/data/emission_factors/car/*.csv
include carculator_utils/data/emission_factors/truck/*.csv
include carculator_utils/data/emission_factors/two-wheeler/*.csv
include carculator_utils/data/export/*.csv
include carculator_utils/data/export/*.yaml
include carculator_utils/data/export/*.json
include carculator_utils/data/fuel/*.csv
include carculator_utils/data/fuel/*.yaml
include carculator_utils/data/gradient/*.csv
include carculator_utils/data/IAM/*.csv
include carculator_utils/data/IAM/*.npz
include carculator_utils/data/lci/*.xlsx
include carculator_utils/data/lcia/*.csv
include carculator_utils/data/lcia/*.yaml
include LICENSE
